{% extends "layout.html" %}

{% block title %}
    Share Your Application
{% endblock %}

{% block main %}

    <div class="frame">
        <h1 size="large"> FAQ </h1><br>

        <h2>What is My Interview App?</h2>
        <p> My Interview App allows users to share a virtual interview experience of themselves with anyone on the internet. You are able to customize their own
            interview questions and answers and select a personal emoji to interact with other users. You can share the link of your application on your webpage, resume
            or anywhere else and whoever clicks on it can start interviewing you right away.</p>

        <h2>What type of questions should I add?</h2>
        <p> We recommend that you add what you think employers are looking to know about you. The app lets you choose between Behavioral or Technical for each question you
            input. For Behavioral, include your question and answers to show how you might be a good fit. Talk about your background and some interesting things about youself.
            For Technical category questions, try to talk about your skills and what technical experience you have with those skills (aka Excel, Python...). Pretend you are writing
            a FAQ about yourself! However we do recommend that you include both Technical and Behavioral questions during Setup.</p>

        <h2>Can I change or update my application?</h2>
        <p> Yes, you can log into your account, go to "Setup", and you can add, delete, or change questions there.</p>

        <h2>What can the interviewers see?</h2>
        <p> They can select all the questions you inputted in the Setup and will be able to see the answer you have put for those questions. It's an interactive interview for them.
            However, they will not be able to ask questions that you have not inputted in setup. We recommend that you add a bit of both Technical and Behavioral questions. </p>

        <h2>How can I create my own interview app to share with employers?</h2>
        <p>Just head over to "Register" and sign up for a new account. Once you have an account you can start by selecting your avatar and filling out the set up form. You can then
            preview the application via the "Preview My App" link at the top left of the navigation bar. What you see is exactly what your employer will see as well</p>

        <h2>Who Made This?</h2>
        <p> This was created by Bowen Zhang and Jessica Ho as the final project for their CS50x Introduction to Computer Science course.
            We hope that this application can help people spice up their professional webpage and share their own virtual interview experience with employers.</p>

    </div>

{% endblock %}