{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" id="register">
        <h2>Register</h2>
        <input autocomplete="off" id="email" name="email" placeholder="email@example.com" type="text" required>
        <input autocomplete="off" id="username" name="username" placeholder="Username" type="text" required>
        <input name="password" placeholder="Password" type="password" required>
        <input name="confirmation" placeholder="Confirm password" type="password" required>
        <button type="submit">Register</button>

        <p>Already have an account? <a href='/login'>Login here</a></p>
    </form>

    <script>
        // checks database for same username and prompts an alert
        var form = document.getElementById("register");
        var my_func = function(event) {
            event.preventDefault();
        };

        // stops form from submitting
        form.addEventListener("submit", my_func, true);
        // checks if username is already in database then submits or alerts
        form.onsubmit = function() {
            form.addEventListener("submit", my_func, true);
            let username = $("#username").val();
            $.get('/check?username='+username, function(data){
                if (data == false) {
                    alert('Username taken or blank!');
                }
                else {
                    alert("Sending Confirmation Email...Please check your SPAM / Junk mail if not found");
                    form.submit();
                }
            });
        };
    </script>
{% endblock %}